body {
  background-color: black;
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 211, 221);
  width: 800px;
  height: 1000px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgb(184, 138, 21);
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}

.title {
  font-size: 40px;
}
.dis {
  float: right;
}

hr {
  border: 1px solid rgb(206, 157, 12);
  background-color: rgb(162, 65, 16);
  border-radius: 20%;
}

.title {
  color: aliceblue;
}
.content {
  margin-top: 20px;
}

.feat {
  margin: 20px 0;
  font-size: 40px;
}

.bot {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
